@import '../../styles/variables.scss';

.rootLayout {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $white;

  .backgroundImage {
    width: 100%;
    height: 287px;
    background-image: url("../../assets/layout-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
  }

  .layout {
    width: 100%;
    max-width: 1240px + 48px;
    padding: 0 24px;
    z-index: 1;
  }
}

.media-mobile{
  .rootLayout {
    .backgroundImage {
      height: 186px;
    }

    .layout {
      padding: 0 12px;
    }
  }
};